
@{
    ViewBag.Title = "Help";
}
<style>
    div {
        text-align: justify;
        text-justify: inter-word;
    }
</style>
<h1>Help</h1>

    <h3>Home Page</h3>
<div>
    Option available for Administrator and Super Administrator. Here both can see the created Beacons, and of those, the ones that are active and inactive aswell as their details. They can also create new Beacons.</br>

    If the account is an Administrator, it can edit or delete a Beacon assigned to the account. In the edit field, the administrator can also add or delete other administrators who will or are responsible for a Beacon.</br>
    If the account is a Super Administrator, it can edit the Beacon being able to do the assignment of administrators, and can also do the elimination of the same ones.</br>

    <h3>Manage Administrators</h3>
    Option only available to the Super Administrator where they can create, edit and delete Administrators.<br />

    <h3>Register Admin</h3>
    This option is only available to the Super Administrator. Here the Super Administrator can register a new Administrator, who can be associated with a Beacon.<br />

    <h3>Log WebApp</h3>
    This option is only available to Super Administrator. Here, the Super Administrator can see who added, changed, or deleted some Beacon. The objective is that everything is registered, so that in case of failure it is possible to determine the guilty.<br />

    <h3>Hello &lt;your_username&gt;</h3>
    Allows Administrators and Super Administrator to edit their account data.
</div>