@{
    ViewBag.Title = "Confirmar e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. @Html.ActionLink("Click here to login", "Logon", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
